.top {
    width: 100%;
    height: 78px;
    border:solid 2px #87ceeb;
    background-color: #fff;
    display: table;
}
.akstn{
    display: table-cell;
    vertical-align: middle;
}
a {
    font-size: 25px;
    font-weight: bold;
    font-family: 遊びメモ書き;
    margin: 0px 0px 0px 10px;
    display: inline-block;
}
.odai {
    font-size: 40px;
    font-family: HolidayMDJP05;
}
.div-random {
    display: table-cell;
    vertical-align: middle;
}
.random {
    float: right;
    margin: 3px 20px 0px 0px;
}
.btn-random {
    width: 100px;
    display: block;
    border: 1px solid #000;
    border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    font-family: HolidayMDJP05;
    text-align: center;
    background-color: #fff;
}

.middle {
    height: 578px;
    padding: 0px 20px 0px 30px; 
}
p {
    font-size:60px;
    font-family: HolidayMDJP05;
    font-weight: bold;
    margin-right: 40px;
    border-bottom: solid 2px #999999;
}
@media screen and (min-width:781px){
    form {
        width: 100%;
        height: 100%;
    }
    .top {
        width: 100%;
        height: 78px;
        border:solid 2px #87ceeb;
        background-color: #fff;
        display: table;
    }
    .akstn{
        width: 504px;
        display: table-cell;
        vertical-align: middle;
    }
    a {
        font-size: 35px;
        font-weight: bold;
        font-family: 遊びメモ書き;
        margin: 0px 0px 0px 15px;
        display: inline-block;
    }
    .div-random {
        width: 354px;
        display: table-cell;
        vertical-align: middle;
    }
    .random {
        float: right;
        margin: 3px 60px 0px 0px;
    }
    .btn-random {
        width: 200px;
        display: block;
        border: 1px solid #000;
        border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
        color: #000;
        font-size: 30px;
        font-weight: bold;
        font-family: HolidayMDJP05;
        text-align: center;
        background-color: #fff;
    }

    .middle {
        height: 578px;
        overflow-y: auto;
        padding-left: 30px; 
    }
    p {
        font-size:60px;
        font-family: HolidayMDJP05;
        font-weight: bold;
        margin-right: 40px;
        border-bottom: solid 2px #999999;
    }
}

@media screen and (min-width:498px){
    .akstn{
        width: 956px;
    }
    .div-random {
        width: 406px;
    }
    .middle {
        height: 569px;
        overflow-y: auto;
    }
}