<!DOCTYPE html>
<html>
    <head>
        <title> お題選択画面 </title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, inital-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="..\static\css\theme_select.css" />
    </head>
    <body>
        <form method="" action="">
            <div class="top">
                <div class="akstn">
                    <a href="#a">あ</a>
                    <a href="#ka">か</a>
                    <a href="#sa">さ</a>
                    <a href="#ta">た</a>
                    <a href="#na">な</a>
                    <a href="#ha">は</a>
                    <a href="#ma">ま</a>
                    <a href="#ya">や</a>
                    <a href="#ra">ら</a>
                    <a href="#wa">わ</a>
                </div>
                <div class="odai">
                    <label class="ask">お題を選択してください</label>
                </div>
                <div class="div-random">
                    <a href="theme_indicate.html" class="random"><button type="button" class="btn btn-random">ランダム</button></a>
                </div>
            </div>
            <div class="middle">
                <div>
                    <p id="a">あ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>い</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>う</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>え</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>お</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p id="ka">か</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>き</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>く</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>け</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>こ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div>
                    <p id="sa">さ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>し</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>す</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>せ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>そ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p id="ta">た</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ち</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>つ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>て</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>と</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div>
                    <p id="na">な</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>に</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ぬ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ね</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>の</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p id="ha">は</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ひ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ふ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>へ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ほ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div>
                    <p id="ma">ま</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>み</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>む</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>め</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>も</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p id="ya">や</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ゆ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>よ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div>
                    <p id="ra">ら</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>り</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>る</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>れ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p>ろ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
                <div class="">
                    <p id="wa">わ</p>
                    <input type="radio" class="radio" value="あり"><label class="theme">あり</label>
                </div>
            </div>
            <div class="bottom">
                <div class="div-home">
                    <a href="index.html" class="home"><button type="button" class="btn btn-home">ホーム画面へ</button></a>
                </div>
                <div class="div-decide">
                    <a class="decide"><button type="button" class="btn btn-decide">決定</button></a>
                </div>
            </div>
        </form>
            
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        
    </body>
</html>